* {
    /* border: solid 1px black */
}

body {
    max-width: auto;
    margin: 0;
    font-family: Tahoma;
}

.nav {
    overflow: hidden;
    position: fixed;
    opacity: .9;
    width: 96%;
    top: 0;
    margin: 0;    
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    background: #5E8FAD;
    color: white;
}

.logo {
    padding: 1rem 3rem 1rem 3rem;
    font-weight: bold;
    flex-grow: 1;
}

li {
    padding: 1rem 3rem 1rem 3rem;
    font-weight: bold;
}

.carousel {
    background-image: url("https://images.unsplash.com/photo-1618609377864-68609b857e90?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1828&q=80");
    height: 450px
}

.navsquares {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.navsquares div {
    border: 1px black solid;
    padding: 100px;
    margin: 40px;
}

#about {
    color: white;
    background-image: url("https://images.unsplash.com/photo-1648726443223-90132a2f0af1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGF1ZGlvJTIwY29udHJvbGxlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60");
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
    font-size: larger;
    font-weight: bold;
}

#play {
    color: white;
    background-image: url("https://images.unsplash.com/photo-1511924473169-58650b22e48f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGF1ZGlvJTIwY29udHJvbGxlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60");
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
    font-size: larger;
    font-weight: bold;
}

#toys {
    color: white;
    background-image: url("https://images.unsplash.com/photo-1605731414532-6b26976cc153?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YXVkaW8lMjBlcXVpcG1lbnR8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60");
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    font-size: larger;
    font-weight: bold;
}

#contact {
    color: white;
    background-image: url("https://images.unsplash.com/photo-1466428996289-fb355538da1b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8YXVkaW8lMjBlcXVpcG1lbnR8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60");
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
    font-size: larger;
    font-weight: bold;
}

.featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #BEE8F8
}

.featuredPic {
    margin: 50px 50px 40px 50px;
}

.featuredText {
    border: solid 1px black;
    text-align: center;
    background-color: white;
    padding: 1rem;
    margin-bottom: 50px;
    width: 350px;
}

#featureTitle {
    font-weight: bolder;
    padding: 1px 1px 5px 1px;
}

#featureInfo {
    padding: 1px 1px 1px 1px;
} 

.footer {
    margin: 0;
    padding: 10px;
    display: flex;
    list-style: none;
    justify-content: center;
    font-size: smaller;
}

@media (max-width: 1100px) {
    .navsquares {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media(max-width: 800px) {
    .nav {
        overflow: hidden;
        position: sticky;
        opacity: .9;
        width: 100%;
        top: 0;
        margin: 0;
        padding: .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        background: #5E8FAD;
        color: white;
        
    }

    #nav {
        font-weight: bold;
    }

    .logo {
        justify-content: flex-start;
        padding: 1rem 3rem 1rem 3rem;
        font-weight: bold;
    }
    
    li {
        padding: 1rem 3rem 1rem 3rem;
        font-weight: bold;
    }

    .featuredPic {
        max-width: 50%
    }
    
}